
<nav class="navbar navbar-expand-lg">
     <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="@Url.Action("Index", "Home")">
               <strong><span>CL</span> Modern Concepts</strong>
          </a>


          <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav mx-auto">
                   <li class="nav-item">
                       @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                   </li>
                    <li class="nav-item">
                         @Html.ActionLink("About us", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                         @Html.ActionLink("Services", "Products", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="@Url.Action("Faq", "Home")">FAQs</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacts</a>
                    </li>
               </ul>

               <div class="d-none d-lg-block">

                    @if (Session["UserKey"] != null)
                    {
                         <form action="@Url.Action("Logout", "Account")" method="post">
                              @Html.AntiForgeryToken()
                              <button type="submit" class="btn btn-danger">Logout</button>
                         </form>
                    }
                    else
                    {
                         <a class="nav-link" href="@Url.Action("SignIn", "Account")"><i class="bi bi-person-badge-fill"></i></a>
                    }

                    <a class="nav-link" href="@Url.Action("Cart", "Home")"><i class="bi bi-bag custom-icon"></i></a>
               </div>
          </div>
     </div>
</nav>
