        
  <nav class="navbar navbar-expand-lg">
               <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                         <strong><span style="font-style: italic;">CL</span> Modern Concepts</strong>
                    </a>

                    <div class="d-lg-none">
                         <a href="@Url.Action("SignIn", "Account")"> <i class="bi bi-people  "></i> </a>
                         <a href="@Url.Action("ProductDetail", "Products")" class="bi-bag custom-icon"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                         <ul class="navbar-nav mx-auto">
                              <li class="nav-item">
                                   <a class="nav-link active" href="@Url.Action("Index", "Home")">Acasă</a>
                              </li>
                              <li class="nav-item">
                                   @Html.ActionLink("Despre noi", "About", "Home", null, new { @class = "nav-link" })
                              </li>
                              <li class="nav-item">
                                   @Html.ActionLink("Servicii", "Products", "Home", null, new { @class = "nav-link" })
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="@Url.Action("Faq", "Home")">FAQs</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacte</a>
                              </li>
                         </ul>

                         <div class="d-none d-lg-block">
                              <a href="@Url.Action("SignIn", "Account")" class="bi-person custom-icon me-3"></a>
                              <a href="@Url.Action("ProductDetail", "Products")" class="bi-bag custom-icon"></a>
                         </div>
                    </div>
               </div>
          </nav>
 