@using System.Web.Mvc
@using System.Web.Optimization
@using System.Linq


<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <base href="~/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="author" content="CL Design">
    <title>@ViewBag.Title - CL Design</title>



    <!-- Styles -->
    @Styles.Render("~/Content/css")


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

</head>

<body>
     @Html.Partial("_Header")

     <main role="main">
          @RenderBody()
     </main>

     @Html.Partial("_Footer")

     <!-- Scripts -->
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap.min")
     @Scripts.Render("~/bundles/custom")
     @RenderSection("scripts", false)
</body>
</html>
